

.btn1{
    width:100px;
    background-color:rgb(153, 210, 153);
    color:black;
    margin-left:40px;
    font-weight: 600;
    
}
.btn2{
    width:100px;
    background-color: rgb(231, 142, 142);
    color:black;
    margin-left:40px;
    font-weight: 600;

}